<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io();

$('#msg-send').click(function () {
    socket.emit('send', $('#msg-text').val());
    $('#msg-text').val('');
});

socket.on('connect', function() {
    var user = prompt("Enter your name:");
    socket.emit('join', user);
});

socket.on('chat', function(data) {
    $('.chat-container').append('<p><strong>'+data.user+'</strong> '+data.msg+'</p>');
});
</script>
