<div class="container">
    <div class="jumbotron">
        <h3>Welcome to</h3>
        <h1>{{>variables/SITE_NAME}}</h1>
    </div>
    <div class="col-sm-9">
      <div class="jumbotron">
      <h2>What is LingualMingle?<h2>
        <p>This is where we have to write about the app</p>
      </div>
    </div>
</div>
