<div class="col-sm-offset-3 col-sm-6">
  <form class="form-horizontal" action="submitlogin" method="POST">
      <div class="form-group">
          <label for="inputUsername" class="col-sm-2 control-label">Username:</label>
          <div class="col-sm-10">
              <input type="username" class="form-control" id="inputUsername" placeholder="Email Address">
          </div>
       </div>
       <div class="form-group">
          <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
          <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
       </div>
       <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" class="btn btn-default">Log in &raquo;</button>
           </div>
       </div>
       <br>
       <p>Not a member? <a href="http://www.lingualmingle.net/signup"> Sign Up here!</p>
  </form>
</div>
<div class="col-sm-3"></div>
