<form>
  Name: <input type="text" name="Name"><br>
  Date Of Birth: <input type="text" name="DateOfBirth"><br>
  Username: <input type="text" name="Username"><br>
  Password: <input type="text" name="Password"><br>
  Repeat Password: <input type="text" name="RepPassword"><br>
  <input type="Sign Up!" value="Submit">
</form>
